<h2>Products</h2>
<div>
  <table class="products">
    <thead>
      <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Code</th>
        <th>Created By</th>
        <th>Last Modified</th>
        <th>Delete<th>
      <tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>{{product.code}}</td>
        <td>{{product.creator}}</td>
        <td>{{product.lastModified}}</td>
        <td>delete {{product.id}}</td>
      </tr>
    </tbody>
  </table>
</div>
